
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Modification - {{ parent() }}
{% endblock %}

{% block fspays_body %}

    <h1>Edit Country </h1>

    {{ include("FSPaysBundle:Pays:form.html.twig") }}





{% endblock %}