<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

<nav class="navbar navbar-fixed-top">
    <!-- put your nav bar here -->
</nav>


<div class="container">
    {% block header %}
        <!-- Header -->

        <div id="header">

            <div class="color-line">
            </div>


            <div id="logo" class="light-version">
            <span>
                Administration
            </span>
            </div>


            <nav role="navigation">

                <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>


                <div class="small-logo">
                    <span class="text-primary">Administration</span>
                </div>


                <div id="navbar" class="navbar-collapse collapse">
                    {{ knp_menu_render('AppBundle:MenuBuilder:buildMainMenu', {'currentClass': 'active', 'template': ':Menu:knp_menu.html.twig'}) }}
                    {{ knp_menu_render('AppBundle:MenuBuilder:buildUserMenu', {'currentClass': 'active', 'template': ':Menu:knp_menu.html.twig'}) }}
                </div>

            </nav>

        </div>

    {% endblock %}
    {% block body '' %}
</div>

{% block javascripts %}
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>