{% extends 'Layout.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table class="table table-striped" id="dataTables-example">
        <thead>
        <th class="text-center">USERNAME</th>
        <th class="text-center">MAIL</th>
        <th class="text-center">ACTIONS</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr class="{% if loop.index is divisibleby(2) %}odd{% else %}even{% endif %}">
                <td col>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ path('admin_users_show', { 'id': user.id }) }}">show</a>&nbsp;
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
