{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "FSPaysBundle::layout.html.twig" %}

{% block body %}
    <h1>Add Continent </h1>
    {{ include("FSPaysBundle:Continent:form.html.twig") }}

{% endblock %}
