
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Modification - {{ parent() }}
{% endblock %}

{% block fscontinent_body %}
<h1>Edit Continent</h1>
    {{ include("FSPaysBundle:Continent:form.html.twig") }}





{% endblock %}
