
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block fscontinent_body %}


    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    Register Now and Discover the World
                </div>

            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">

                </span>

                <div class="clearfix"></div>
            </div>
        </a>
    </div>
{% endblock %}
